.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
span {
  font-weight: 700;
  font-size: ;
  color: rgb(51, 51, 51);
}
button {
  border-radius: 5px;
  border-style: ridge;
}
.likesAndDislikes {
  display: flex;
}
.likesContainer {
  display: flex;
  padding-right: 20px;
}
.dislikesContainer {
  display: flex;
}
