body {
  background-color: rgb(68, 190, 190);
}
.App {
  text-align: center;
}
.form {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.form label,
input {
  margin: 5px;
}
.app-container {
  margin-top: 80px;
}
