body {
  background-color: rgb(68, 190, 190);
}
.App {
  text-align: center;
}
.form {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.form label,
input {
  margin: 5px;
}
.app-container {
  margin-top: 80px;
}
.app-container h1 {
  font-family: "Big Shoulders Text", cursive;
  font-size: 40px;
}
form {
  font-family: "Big Shoulders Text", cursive;
  font-size: 22px;
}
